language: ruby
bundler_args: --without development
script: "bundle exec rake spec:ci"
rvm:
  - 1.9.3
  - 1.9.2
  - 1.8.7
  - ree
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
gemfile:
  - Gemfile
notifications:
  recipients:
    - xeron.oskom@gmail.com
